@import 'theme';
@import 'fonts';

div {
  background: $color1;
  padding: 2rem;
  h1 {
    margin-top: 0;
    color: $light-color;
    font-size: $h1-fz;
  }
  h2 {
    margin-bottom: 0;
    color: $light-color;
    font-size: $h2-fz;
  }
} 