@import "theme";

app-tab-list-dark {
    .state-cancel {
        background: $color1;
    }
    
    .state-option {
        background: $color2;
    }
    
    .state-confirmed {
        background: $color3;
    }
}

