<header class="fixed-top">
    <app-icon-menu (click)="toggle()"></app-icon-menu>
    <ng-content select=".header"></ng-content>
</header>

<main [ngClass]="{'close-aside': !open}">
    <div class="shadow position-fixed"></div>
    <aside>
        <div class="scroller">
            <ng-content select=".nav"></ng-content>
        </div>
    </aside>

    <div class="page">
        <div class="contents">
            <ng-content select=".contents"></ng-content>
        </div>

        <footer>
            <ng-content select=".footer"></ng-content>
        </footer>
    </div>
</main>